/* Hotel card styling */
.hotel-view-card {
    width: 51vw;
}

/* Total cost form and display */
.calc-cost-form {
    padding: 1rem 0!important;
}

/* Date input styling */
input[type=date] {
    padding: 1rem 1rem !important;
    background-color: transparent;
    border: none !important;
}

/* Removing borders from input fields */
.form-control input {
    border: none;
    outline: 0;
}

/* Date input calendar icon styling -- makes icon transparent and allows the customer to click anywhere in the date input field to display the calendar */
input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

/* General label styling */
label {
    padding-left: 1.75rem !important;
    background-color: transparent !important;
}

/* Gradient text styling */
.gradient-text {
    color: #30b8e6;
    background-image: -webkit-linear-gradient(0deg, #30b8e6 0%, #b54abd 61%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

/* To show customer where the total cost will be calculated */
.cost-auto-display {
    border-bottom: 0.1px dotted rgb(228, 227, 227);
    height: 75px;
}

/* Modal - Compare hotel styling */
.modal-header {
    flex-direction: column;
}

/* Border for current hotel view hotel in the compare hotels modal */
.top-selected-hotel {
border: 1px solid #30b8e6 !important;

}